In [ ]:
import pandas as pd
df=pd.read_excel("Bank_Personal_Loan_Modelling-1", sheetName = "Bank_Personal_Loan_Modelling")

In [1]:
import pandas as pd
df=pd.read_csv("Bank.csv")
df.head(100)

,ID,Age (in years),Experience (in years),Income (in K/month),ZIP Code,Family members,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4.0,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3.0,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1.0,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1.0,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4.0,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4.0,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2.0,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1.0,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3.0,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1.0,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4.0,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3.0,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2.0,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4.0,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1.0,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1.0,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4.0,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4.0,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2.0,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1.0,0.5,2,0,0,1,0,0,1
20,21,56,31,25,94015,NaN,0.9,2,111,0,0,0,1,0
21,22,57,27,63,90095,3.0,2.0,3,0,0,0,0,1,0
22,23,29,5,62,90277,1.0,1.2,1,260,0,0,0,1,0
23,24,44,18,43,91320,2.0,0.7,1,163,0,1,0,0,0
24,25,36,11,152,95521,2.0,3.9,1,159,0,0,0,0,1
25,26,43,19,29,94305,3.0,0.5,1,97,0,0,0,1,0
26,27,40,16,83,95064,4.0,0.2,3,0,0,0,0,0,0
27,28,46,20,158,90064,1.0,2.4,1,0,0,0,0,1,1
28,29,56,30,48,94539,1.0,2.2,3,0,0,0,0,1,1
29,30,38,13,119,94104,1.0,3.3,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,42,18,115,91335,1.0,3.5,1,0,0,0,0,0,1
71,72,53,29,69,93907,4.0,1.0,2,0,0,0,0,1,0
72,73,44,20,130,92007,1.0,5.0,1,0,0,0,0,0,1
73,74,41,16,85,94606,1.0,4.0,3,0,0,0,0,1,1
74,75,28,3,135,94611,2.0,3.3,1,0,0,0,0,0,1
75,76,31,7,135,94901,4.0,3.8,2,0,1,0,1,1,1
76,77,58,32,12,91320,3.0,0.3,3,0,0,0,0,0,0
77,78,46,20,29,92220,3.0,0.5,2,0,0,0,0,0,0
78,79,54,30,133,93305,2.0,2.6,3,0,1,0,0,0,0
79,80,50,26,19,94720,2.0,0.4,1,118,0,0,0,1,0
80,81,60,36,41,95134,4.0,1.3,1,174,0,0,0,1,1
81,82,47,22,40,94612,3.0,2.7,2,0,0,0,0,1,0
82,83,41,16,82,92507,1.0,4.0,3,0,0,0,0,1,0
83,84,33,9,50,94305,1.0,2.4,2,0,0,0,0,0,0
84,85,46,22,18,91730,1.0,0.9,3,0,0,0,0,1,0
85,86,27,2,109,94005,4.0,1.8,3,0,0,0,0,0,0
86,87,40,16,42,94501,4.0,2.2,2,126,0,0,0,0,0
87,88,48,22,78,94305,3.0,1.1,1,0,0,0,0,1,0
88,89,65,41,51,94117,2.0,1.1,1,0,0,0,0,1,0
89,90,25,-1,113,94303,4.0,2.3,3,0,0,0,0,0,1
90,91,55,30,118,90277,4.0,5.6,2,0,1,0,0,1,0
91,92,35,10,29,94105,4.0,1.1,3,0,0,0,0,1,0
92,93,43,19,34,94305,3.0,0.6,2,0,0,0,0,0,0
93,94,60,34,64,94550,2.0,1.7,3,236,0,1,0,1,0
94,95,65,39,121,92612,1.0,2.0,1,0,0,0,0,0,0
95,96,38,12,48,95617,4.0,0.2,3,0,0,0,0,1,0
96,97,41,15,80,95014,1.0,5.2,1,0,0,0,0,0,0
97,98,54,28,161,92121,1.0,2.9,1,0,0,0,0,1,0
98,99,49,23,94,92374,NaN,0.3,1,0,0,0,0,1,0
99,100,66,41,15,91711,3.0,0.1,3,0,0,0,0,1,0

In [2]:
df.shape

(5000, 14)

In [3]:
df.dtypes

ID                         int64
Age (in years)             int64
Experience (in years)      int64
Income (in K/month)        int64
ZIP Code                   int64
Family members           float64
CCAvg                    float64
Education                  int64
Mortgage                   int64
Personal Loan              int64
Securities Account         int64
CD Account                 int64
Online                     int64
CreditCard                 int64
dtype: object

In [4]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.5,3750.25,5000.0
Age (in years),5000.0,45.338400,11.463166,23.0,35.00,45.0,55.00,67.0
Experience (in years),5000.0,20.104600,11.467954,-3.0,10.00,20.0,30.00,43.0
Income (in K/month),5000.0,73.774200,46.033729,8.0,39.00,64.0,98.00,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.00,93437.0,94608.00,96651.0
Family members,4982.0,2.397230,1.147160,1.0,1.00,2.0,3.00,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.70,1.5,2.50,10.0
Education,5000.0,1.881000,0.839869,1.0,1.00,2.0,3.00,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.00,0.0,101.00,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.00,0.0,0.00,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.00,0.0,0.00,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.00,0.0,0.00,1.0
Online,5000.0,0.596800,0.490589,0.0,0.00,1.0,1.00,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.00,0.0,1.00,1.0

In [5]:
import numpy as np
df['Family members'].replace(r'\s+', np.nan, regex=True)

0       4.0
1       3.0
2       1.0
3       1.0
4       4.0
5       4.0
6       2.0
7       1.0
8       3.0
9       1.0
10      4.0
11      3.0
12      2.0
13      4.0
14      1.0
15      1.0
16      4.0
17      4.0
18      2.0
19      1.0
20      NaN
21      3.0
22      1.0
23      2.0
24      2.0
25      3.0
26      4.0
27      1.0
28      1.0
29      1.0
       ...
4970    2.0
4971    1.0
4972    3.0
4973    4.0
4974    4.0
4975    4.0
4976    1.0
4977    3.0
4978    4.0
4979    1.0
4980    3.0
4981    2.0
4982    4.0
4983    1.0
4984    4.0
4985    3.0
4986    1.0
4987    3.0
4988    1.0
4989    1.0
4990    4.0
4991    1.0
4992    4.0
4993    2.0
4994    3.0
4995    1.0
4996    4.0
4997    2.0
4998    3.0
4999    3.0
Name: Family members, Length: 5000, dtype: float64

In [6]:
df['Family members']=df['Family members'].fillna(1.0)

In [7]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.5,3750.25,5000.0
Age (in years),5000.0,45.338400,11.463166,23.0,35.00,45.0,55.00,67.0
Experience (in years),5000.0,20.104600,11.467954,-3.0,10.00,20.0,30.00,43.0
Income (in K/month),5000.0,73.774200,46.033729,8.0,39.00,64.0,98.00,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.00,93437.0,94608.00,96651.0
Family members,5000.0,2.392200,1.148148,1.0,1.00,2.0,3.00,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.70,1.5,2.50,10.0
Education,5000.0,1.881000,0.839869,1.0,1.00,2.0,3.00,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.00,0.0,101.00,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.00,0.0,0.00,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.00,0.0,0.00,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.00,0.0,0.00,1.0
Online,5000.0,0.596800,0.490589,0.0,0.00,1.0,1.00,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.00,0.0,1.00,1.0

In [8]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [9]:
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)
iqr=q3-q1
cap1 = q1-1.5*iqr
cap2 = q3+1.5*iqr
df = df[(df>=cap1) & (df<=cap2)]
df = df.dropna(axis=0)
    
print(df.shape)

(3645, 14)

In [ ]:
#question 2

In [9]:
df.corr(method = 'pearson')

,ID,Age (in years),Experience (in years),Income (in K/month),ZIP Code,Family members,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,1.000000,-0.008473,-0.008326,-0.017695,0.013432,-0.013162,-0.024675,0.021463,-0.013920,-0.024801,-0.016972,-0.006909,-0.002528,0.017028
Age (in years),-0.008473,1.000000,0.994215,-0.055269,-0.029216,-0.046168,-0.052012,0.041334,-0.012539,-0.007726,-0.000436,0.008043,0.013702,0.007681
Experience (in years),-0.008326,0.994215,1.000000,-0.046574,-0.028626,-0.052097,-0.050077,0.013152,-0.010582,-0.007413,-0.001232,0.010353,0.013898,0.008967
Income (in K/month),-0.017695,-0.055269,-0.046574,1.000000,-0.016410,-0.157763,0.645984,-0.187524,0.206806,0.502462,-0.002616,0.169738,0.014206,-0.002385
ZIP Code,0.013432,-0.029216,-0.028626,-0.016410,1.000000,0.011273,-0.004061,-0.017377,0.007383,0.000107,0.004704,0.019972,0.016990,0.007691
Family members,-0.013162,-0.046168,-0.052097,-0.157763,0.011273,1.000000,-0.109039,0.062931,-0.019766,0.060759,0.020665,0.012838,0.007698,0.009738
CCAvg,-0.024675,-0.052012,-0.050077,0.645984,-0.004061,-0.109039,1.000000,-0.136124,0.109905,0.366889,0.015086,0.136534,-0.003611,-0.006689
Education,0.021463,0.041334,0.013152,-0.187524,-0.017377,0.062931,-0.136124,1.000000,-0.033327,0.136722,-0.010812,0.013934,-0.015004,-0.011014
Mortgage,-0.013920,-0.012539,-0.010582,0.206806,0.007383,-0.019766,0.109905,-0.033327,1.000000,0.142095,-0.005411,0.089311,-0.005995,-0.007231
Personal Loan,-0.024801,-0.007726,-0.007413,0.502462,0.000107,0.060759,0.366889,0.136722,0.142095,1.000000,0.021954,0.316355,0.006278,0.002802
Securities Account,-0.016972,-0.000436,-0.001232,-0.002616,0.004704,0.020665,0.015086,-0.010812,-0.005411,0.021954,1.000000,0.317034,0.012627,-0.015028
CD Account,-0.006909,0.008043,0.010353,0.169738,0.019972,0.012838,0.136534,0.013934,0.089311,0.316355,0.317034,1.000000,0.175880,0.278644
Online,-0.002528,0.013702,0.013898,0.014206,0.016990,0.007698,-0.003611,-0.015004,-0.005995,0.006278,0.012627,0.175880,1.000000,0.004210
CreditCard,0.017028,0.007681,0.008967,-0.002385,0.007691,0.009738,-0.006689,-0.011014,-0.007231,0.002802,-0.015028,0.278644,0.004210,1.000000

In [10]:
df.corr()

,ID,Age (in years),Experience (in years),Income (in K/month),ZIP Code,Family members,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,1.000000,-0.008473,-0.008326,-0.017695,0.013432,-0.013162,-0.024675,0.021463,-0.013920,-0.024801,-0.016972,-0.006909,-0.002528,0.017028
Age (in years),-0.008473,1.000000,0.994215,-0.055269,-0.029216,-0.046168,-0.052012,0.041334,-0.012539,-0.007726,-0.000436,0.008043,0.013702,0.007681
Experience (in years),-0.008326,0.994215,1.000000,-0.046574,-0.028626,-0.052097,-0.050077,0.013152,-0.010582,-0.007413,-0.001232,0.010353,0.013898,0.008967
Income (in K/month),-0.017695,-0.055269,-0.046574,1.000000,-0.016410,-0.157763,0.645984,-0.187524,0.206806,0.502462,-0.002616,0.169738,0.014206,-0.002385
ZIP Code,0.013432,-0.029216,-0.028626,-0.016410,1.000000,0.011273,-0.004061,-0.017377,0.007383,0.000107,0.004704,0.019972,0.016990,0.007691
Family members,-0.013162,-0.046168,-0.052097,-0.157763,0.011273,1.000000,-0.109039,0.062931,-0.019766,0.060759,0.020665,0.012838,0.007698,0.009738
CCAvg,-0.024675,-0.052012,-0.050077,0.645984,-0.004061,-0.109039,1.000000,-0.136124,0.109905,0.366889,0.015086,0.136534,-0.003611,-0.006689
Education,0.021463,0.041334,0.013152,-0.187524,-0.017377,0.062931,-0.136124,1.000000,-0.033327,0.136722,-0.010812,0.013934,-0.015004,-0.011014
Mortgage,-0.013920,-0.012539,-0.010582,0.206806,0.007383,-0.019766,0.109905,-0.033327,1.000000,0.142095,-0.005411,0.089311,-0.005995,-0.007231
Personal Loan,-0.024801,-0.007726,-0.007413,0.502462,0.000107,0.060759,0.366889,0.136722,0.142095,1.000000,0.021954,0.316355,0.006278,0.002802
Securities Account,-0.016972,-0.000436,-0.001232,-0.002616,0.004704,0.020665,0.015086,-0.010812,-0.005411,0.021954,1.000000,0.317034,0.012627,-0.015028
CD Account,-0.006909,0.008043,0.010353,0.169738,0.019972,0.012838,0.136534,0.013934,0.089311,0.316355,0.317034,1.000000,0.175880,0.278644
Online,-0.002528,0.013702,0.013898,0.014206,0.016990,0.007698,-0.003611,-0.015004,-0.005995,0.006278,0.012627,0.175880,1.000000,0.004210
CreditCard,0.017028,0.007681,0.008967,-0.002385,0.007691,0.009738,-0.006689,-0.011014,-0.007231,0.002802,-0.015028,0.278644,0.004210,1.000000

In [12]:
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde

cols = df.columns
for i in cols:
    print(i)
    density = gaussian_kde(df[i])
    xs = np.linspace(0,8,200)
    density.covariance_factor = lambda : .25
    density._compute_covariance()
    plt.plot(xs,density(xs))
    plt.show()

ID

Age (in years)

Experience (in years)

Income (in K/month)

ZIP Code

Family members

CCAvg

Education

Mortgage

Personal Loan

LinAlgError: singular matrix

In [11]:
df1 = df.drop(['ZIP Code','Securities Account','CD Account','ID'],axis=1)

In [12]:
df1.shape

(5000, 10)

In [13]:
df1.columns

Index(['Age (in years)', 'Experience (in years)', 'Income (in K/month)',
       'Family members', 'CCAvg', 'Education', 'Mortgage', 'Personal Loan',
       'Online', 'CreditCard'],
      dtype='object')

In [14]:
df1['Personal Loan'].value_counts()

0    4520
1     480
Name: Personal Loan, dtype: int64

In [15]:
df1['CreditCard'].value_counts()

0    3530
1    1470
Name: CreditCard, dtype: int64

In [16]:
df1[(df1['Personal Loan']>0) | (df1['CreditCard']>0)].count()

Age (in years)           1807
Experience (in years)    1807
Income (in K/month)      1807
Family members           1807
CCAvg                    1807
Education                1807
Mortgage                 1807
Personal Loan            1807
Online                   1807
CreditCard               1807
dtype: int64

In [17]:
df1['ProbOftakingLoan'] = (df1['Personal Loan']>0) | (df1['CreditCard']>0)

In [18]:
df1['ProbOftakingLoan'].value_counts()

False    3193
True     1807
Name: ProbOftakingLoan, dtype: int64

In [19]:
df1['ProbOftakingLoan'] = df1['ProbOftakingLoan']*1

In [20]:
df1['ProbOftakingLoan']

0       0
1       0
2       0
3       0
4       1
5       0
6       0
7       1
8       0
9       1
10      0
11      0
12      0
13      0
14      0
15      1
16      1
17      0
18      1
19      1
20      0
21      0
22      0
23      0
24      1
25      0
26      0
27      1
28      1
29      1
       ..
4970    1
4971    0
4972    1
4973    0
4974    1
4975    0
4976    1
4977    0
4978    0
4979    1
4980    1
4981    0
4982    1
4983    0
4984    1
4985    0
4986    0
4987    0
4988    1
4989    0
4990    1
4991    1
4992    0
4993    0
4994    0
4995    0
4996    0
4997    0
4998    0
4999    1
Name: ProbOftakingLoan, Length: 5000, dtype: int64

In [21]:
df1.columns

Index(['Age (in years)', 'Experience (in years)', 'Income (in K/month)',
       'Family members', 'CCAvg', 'Education', 'Mortgage', 'Personal Loan',
       'Online', 'CreditCard', 'ProbOftakingLoan'],
      dtype='object')

In [22]:
y=df1[['ProbOftakingLoan']]
X=df1.drop(['ProbOftakingLoan'],axis=1)

In [23]:
print(X.shape)
print(y.shape)

(5000, 10)
(5000, 1)

In [24]:
from sklearn.model_selection import train_test_split

In [53]:
train_set, test_set, train_labels, test_labels = train_test_split(X, y, test_size=0.30, random_state=1)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30 , random_state=1)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [27]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
print(model_score)
print(metrics.confusion_matrix(y_test, y_predict))

1.0
[[963   0]
 [  0 537]]

/srv/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
model.intercept_

array([-0.34724975])

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(y_test,y_predict)

1.0

In [32]:
from sklearn.metrics import classification_report
print("Report : ", 
   classification_report(y_test, y_predict))

Report :               precision    recall  f1-score   support

          0       1.00      1.00      1.00       963
          1       1.00      1.00      1.00       537

avg / total       1.00      1.00      1.00      1500

In [33]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
NNH_3 = KNeighborsClassifier(n_neighbors= 3,metric='minkowski' )
NNH_5 = KNeighborsClassifier(n_neighbors= 5,metric='minkowski' )
NNH_9 = KNeighborsClassifier(n_neighbors= 9,metric='minkowski' )

In [35]:
print(NNH_3.fit(X_train,y_train))
print(NNH_5.fit(X_train,y_train))
print(NNH_9.fit(X_train,y_train))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=9, p=2,
           weights='uniform')

/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.
/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
predicted_labels = NNH_3.predict(X_test)
NNH_3.score(X_test, y_test)

0.6326666666666667

In [37]:
predicted_labels = NNH_5.predict(X_test)
NNH_5.score(X_test, y_test)

0.6366666666666667

In [38]:
predicted_labels = NNH_9.predict(X_test)
NNH_9.score(X_test, y_test)

0.654

In [39]:
NNH_3_predict = NNH_3.predict(X_test)
NNH_3_score = NNH_3.score(X_test, y_test)

In [40]:
NNH_5_predict = NNH_5.predict(X_test)
NNH_5_score = NNH_5.score(X_test, y_test)

In [41]:
NNH_9_predict = NNH_9.predict(X_test)
NNH_9_score = NNH_9.score(X_test, y_test)

In [42]:
print("Accuracy of NNH_3",accuracy_score(y_test,NNH_3_predict))
print("Accuracy of NNH_5",accuracy_score(y_test,NNH_5_predict))
print("Accuracy of NNH_9",accuracy_score(y_test,NNH_9_predict))

Accuracy of NNH_3 0.6326666666666667
Accuracy of NNH_5 0.6366666666666667
Accuracy of NNH_9 0.654